
@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/Cocogoose-Pro-Regular-trial.ttf');
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBold.ttf');
}
@font-face {
  font-family: 'Monserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Monserrat-bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

body{font-family: 'Muli', sans-serif;}

body{
  margin: auto;
  padding: 0;
  font-family: 'Monserrat';
  background-image: url("../img/dot-pattern.gif");
  background-repeat: repeat;
}
#form-dos {
  display: none;
  margin-left: -50%;
}

#errormessage {
  color:#DC1E35;
  margin-top:5%;
  font-family: 'Monserrat-bold';
  font-size:20px;
  text-transform: uppercase;
}
.footer_loader{
 position: absolute;
 bottom: 0;
 font-size: 12px;
 padding-bottom: 20px;
 text-align: center;
 max-width: 100vw;
}
.superindice{
 vertical-align:super;
 font-size: 18px;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #000;
}
.minisubtitleCostena {
  font-size: 25px;
}
.superindice2{
 vertical-align:super;
 font-size: 10px;
}
#textoTomatesUno,#textoTomatesDos,#textoTomatesTres {
  display:block;
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
@-webkit-keyframes swing {
  10% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  15% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  25% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  28%{
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  29%,30%,40%,50%,60%,70%,80%,90%,100%  {

  }
}

@keyframes swing {
  10% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  15% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  25% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  28%{
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  29%,30%,40%,50%,60%,70%,80%,90%,100%  {

  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


#botella-uno {
  -webkit-animation: fadeInUp 2s ease-in-out;
  animation: fadeInUp 2s ease-in-out;
}

#botella-dos {
  -webkit-animation: fadeInUp 2s ease-in-out;
  animation: fadeInUp 2s ease-in-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}
#botella-tres {
  -webkit-animation: fadeInUp 2s ease-in-out;
  animation: fadeInUp 2s ease-in-out;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
#botella-cuatro {
  -webkit-animation: fadeInUp 2s ease-in-out;
  animation: fadeInUp 2s ease-in-out;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.fadeInUp {
  -webkit-animation: fadeInUp 2s ease-in-out;
  animation: fadeInUp 2s ease-in-out;
}


footer {
 max-width: 1024px;
 width: 100%;
 padding: 0 12px;
 margin: 0 auto;
}
.text-especial-acepto {
  text-align:center !important;
  position: relative;
}
.select-input {
  margin-top: 3%;
}
input#ticket {
  position: absolute;
  margin-top: -40%;
  margin-left: -180%;
  width: 400px;
  height: 39px;
  opacity:0.0;
  filter: alpha(opacity=0);
}
.especialInput {
  position:relative;
}
#charliepapalote {
  position: absolute;
  z-index: 0;
  bottom: 130px;
}
.linkterminos {
  color: #000;
  text-decoration: underline;
}
.container,.container_calcula {
/*background: url(../img/bg-pattern.png);
background-repeat:no-repeat; 
background-position: bottom;*/ 
 max-width: 1500px;
 min-height: 1600px;
 width: 100%;
 margin: 5em auto 0;
 padding:0;
 position: relative;
}
.container_mini {
 /* background: url(../img/bg-pattern.png); 
  background-repeat:no-repeat;
  background-position:center bottom;*/
   max-width: 1500px;
   min-height: 650px;
   width: 100%;
   margin: 5em auto 0;
   display: table;
   padding:0;
   position:relative;
  }
  .container_medio {
    /*background: url(../img/bg-pattern.png); 
    background-repeat:no-repeat;
    background-position: bottom;*/
     max-width: 1500px;
     min-height: 800px;
     width: 100%;
     margin: 5em auto 0;
     padding:0;
     position: relative;
    }
.loader{
 background: url(../img/background.jpg);
 background-size: cover;
}
.snoopy_loader{
 padding-top: 18%;
 text-align: center;
 width: 100%;
}
.mecanica-img {
  position:relative;
}
#snoopycuatro {
  position: absolute;
  left:110%;
  width:40%;
  top:36%;
  -webkit-animation: woodsMueveDos 3s ease-in-out;
  animation: woodsMueveDos 3s ease-in-out;
}
#snoopytres {
  position: absolute;
  left:80%;
  width:80%;
}
#snoopydos {
  position: absolute;
  -webkit-animation: subeFoco 3s ease-in-out infinite;
  animation: subeFoco 3s ease-in-out infinite;
  left:39%;
}
@keyframes subeFoco {
  0%,100% {
    top: 0;
  }
  50% {
    top: -10%;
  }
}

@keyframes woodsMueve {
  0%,100% {
    left: 140%;
    opacity:0;
  }
  50% {
    opacity:1;
    left: 110%;
  }
}

@keyframes woodsMueveDos {
  0% {
    left: 140%;
    opacity:0;
  }
  100% {
    opacity:1;
    left: 110%;
  }
}



#banderaDos {
  position: absolute;
  bottom: 23%;
  right: 30%;
  -webkit-animation: woodsMueveTe 4s ease-in-out;
  animation: woodsMueveTe 4s ease-in-out;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  opacity:0;
  animation-fill-mode: forwards;
}

@keyframes woodsMueveTe {
  0% {
    right: 0%;
    opacity:0;
  }
  100% {
    opacity:1;
    right: 30%;
  }
}

.txtSmallEspecial {
  color:#000;
  border: 4px solid #f2ca00;
  padding:5% 2% 3% 2%;
  background: #f2ca00;
}
.snoopybaby{
 position: relative;
}
.wod{
 position: absolute;
 top: 0;
 right: 30%;
 width: 110px;
}
.wod img{
 width: 60%;
}
.peanuts{
 text-align: right;
 font-weight:900;
 margin-bottom:20px;
 font-family:'Monserrat-bold';
}
.minijuegoiFrame {
  width:300px ;
  height:250px;
}
footer{
 position: sticky;
 text-transform: uppercase;
 font-size: 9px;
 font-weight: 900;
 bottom: 0;

}
.botellas-detail-mobile-dos,
.botellas-detail-mobile-tres,
.botellas-detail-mobile-cuatro {
  display:none;
}
.footer {
 opacity: 1;
 position:relative;
}
.botellas-detail {
  position:absolute;
  bottom:50px;
  left:30%;
  right:0;
  width: 55%;
  z-index:0;
  /*-webkit-animation: MoveBottle 8s ease-in-out infinite;
  animation: MoveBottle 8s ease-in-out infinite;*/
}
.botellas-detail img {
  margin-right: -2%;
}


@keyframes MoveBottle {
  0%,100% {
    left: 100%;
    opacity: 0;
  }
  50% {
    left: 30%;
    opacity: 1;
  }
}



footer > .come_bien{text-align: left;font-weight:900; font-family:'Monserrat-bold';}

.legales{
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin: 0 auto;
  left: 0;
}
.privacidad{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(220,220,220,0.9);
  opacity: 0.9;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  display: none;
}

.submenu, .submenu_games {
 /*padding-left:60px; */
}
.relativeOb {
  position:relative;
}
.footer-bases-img {
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}
.selected {
  background: #f2ca00;
}
.nubes{
position:fixed;
top:5em;
left:0;
 height: 50px;
 padding: 0 0 0 10%;
 background: #f5a706;
 -webkit-box-shadow: 0px 3px 20px 0px rgba(181,177,181,1);
 -moz-box-shadow: 0px 3px 20px 0px rgba(181,177,181,1);
 box-shadow: 0px 3px 20px 0px rgba(181,177,181,1);
 z-index:1;
}
.marginToSubmenuBases {
  margin-top:18%;
}
.nubes > img{
 max-width: 966px;
}

.txtRed{
 color:#DC1E35;
 margin-top: 10%;
}

.txtRed iframe{
 width: 400px;
 height: 182px;
}
.txtBlack{
  color:#000;
 }
 .marginToSubmenu {
   margin-top:10.5%;
 }
 
.txtBig{
 font-size: 30px;
 line-height: 1.5;
 margin-top: 20px;
 font-weight: 600;
}
.txtMedium {
  font-size: 19px;
  width: inherit;
  margin: 0 auto;
  text-align:justify;
}
.txtNum {
  font-size: 22px;
  font-family:'Gotham';
  color:#f2ca00;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
}
.txtNumBig {
  font-size: 28px;
  font-family:'Gotham';
  color:#f5a706;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}
.titleCostena {
  font-family:'Cocogoose';
  color:#f5a706;
  font-size:31px;
  -webkit-text-stroke-width: 1.8px;
  -webkit-text-stroke-color: #000;
  line-height: 1;
}
.subtitlesCostena {
  font-family:'Cocogoose';
  color:#f5a706;
  font-size:27px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.txtSmall{
 font-size: 18px;
 width: inherit;
 margin: 0 auto;
 text-align:justify;
}
.txtLeft {
  text-align: left;
  margin-left:8%;
}
.txtminiSmall{
  font-size: 12px;
  width: inherit;
  margin: 0 auto;
  text-align:justify;
 }
.txtEspecial {
  font-size: 15px;
  width: inherit;
  margin: 0 auto;
}
.txtBold {
  font-family:'Monserrat-bold';
}
.participaBtn{
 background-image: url('../img/bt-participa.png');
 width: 343px;
 height: 42px;
 border: none;
 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:22%;
  -webkit-animation: swing 3s ease-in-out infinite;
  animation: swing 3s ease-in-out infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.participaBtnb{
  background-image: url('../img/bt-participa.png');
  width: 343px;
  height: 42px;
  border: none;
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top:5%;
   -webkit-animation: swing 3s ease-in-out infinite;
   animation: swing 3s ease-in-out infinite;
   -webkit-animation-delay: 3s;
   animation-delay: 3s;
 }
.siguienteBtn {
  background-image: url('../img/bt-siguiente.png');
  width: 343px;
  height: 42px;
  border: none;
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top:16%;
   cursor:pointer;
   -webkit-animation: swing 2s ease-in-out infinite;
   animation: swing 2s ease-in-out infinite;
   -webkit-animation-delay: 2s;
   animation-delay: 2s;
 }
 .title-registra {
  color: #000;
  font-size: 20px;
  font-family: 'Cocogoose';
 }
 .form-contenido {
   margin-right: auto;
   margin-left: auto;
   text-align: center;
 }
.imgsecond-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  text-align:center;
  position:relative;
}
.txt-bold {
  font-family: 'Monserrat-bold';
}
button{
  outline-style: none;
  outline-width: 0px;
  outline: none !important;
}
.participaBtn:hover{
 background-image: url('../img/bt-participa-over.png');
}
.participaBtnb:hover{
  background-image: url('../img/bt-participa-over.png');
 }
 .siguienteBtn:hover{
  background-image: url('../img/bt-siguiente-over.png');
 }
 .paddingLeftLarge {
   margin-left:20%;
   margin-top:2%;
 }
 .paddingLeftShort{
  margin-left:4%;
  margin-top:2%;
}
p{margin: 0;}

hr{
 background-color:  #DC1E35;
 height: 2px;
 border: 0;
 margin: 5px auto 10px auto;
 max-width: 40vw;
}

.submenuSpace{
 padding: 0 0 0 55px;
 text-align: center;
 margin-top: -60px;

}
.submenu_nav{
 /*width: 95px;*/
}

.botellas-detail-mobile {
  display: none;
}
.casaSnoopy{
  width: 100%;
  padding: 0;
  text-align: center;
  margin-top: -20px;
}

#pleca-mobile {
  display:none;
}
.casaSnoopy > img{
 width: 409px;
 height: auto;
}
.snoopyPasto{
 padding-top: 60px;
   /*position: absolute;
   bottom: 25px;
   right: 35px;*/
 }
 .clear-snoopy {
   width: 100%;
   height:400px;
 }
 .video-container {
   margin-top:10%;
 }
 .snoopyPasto > img{
   width: 120px;
   height: auto;
 }
 .pasto_minigame,
 .nube_minigame{
  background-size: cover;
  margin: 0 0;
  width: 100vw;
  z-index: -10;
  background-repeat: repeat-x;
  background-size: 50vw;
  left: 0;
  width: 100%;
  position: fixed;
}
.pasto_minigame{
  bottom: 0;
  background-image: url("../../assets/img/pasto_minigames.png");
  background-position: center bottom;
  background-size: 860px;
}
.pasto_minigame img{
  padding-left: 60vw;
}
.nube_minigame{
  height: 100%;
  top: 100px;
  background-image: url("../../assets/img/nubes_minigames.png");
  background-position: center top;
  background-size: 720px;
}
.btn_menu{
 height: 60px;
}
.btn_menu:hover{
 background-color: #7a1510;
 height:70px;

}
.fail{
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  font-size: 1.2em;
  color: #DC1E35;
  text-transform: uppercase;
  padding: 0 6px;
}

.btn_facebook_login {
  width: 22%;
  height: auto;
  margin: 2% 0;
}
/************************
  HEADER
  ************************/

  .page-header{
   overflow: hidden;
   background: #DC1E35;
   height: 5em;
   transition:all .4s linear;
   margin: 0;
   border-bottom: none;
   padding: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 112;
 }

 .page-header .center-contents{
   /*max-width: 1024px;*/
   margin:auto;
   overflow: hidden;
 }

 .logo{
   max-width: 60px;
   display: block;
   float: left;
   padding: 0.7em;
 }

 .logo img{
   display: block;
   height: 52px;
 }

 .page-nav{
  color: #fff;
  width:100%;
  max-width:1000px;
  margin:70px auto 0;
  background-color:#a51b15;
  z-index: 1;
}

.page-nav ul, .page-nav li{
  list-style:none;
  padding: 0;
}
#imgUnoHome{
  display:block;
}

.redes{
 border: 2px solid #fff;
 border-radius: 100%;
 line-height: 25px;
 text-align: center;
 padding: 4px 4px 0 4px;
 font-size: 18px !important;
}
.redesfb{
 border: 2px solid #fff;
 border-radius: 100%;
 line-height: 25px;
 text-align: center;
 padding: 4px 6px 0 6px;
 font-size: 18px !important;
}

.page-nav a{
  color: #fff;
  width: 100%;
  height: auto;
  display: block;
  padding: 0px 15px;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.toggle-nav {
  float: right;
  padding: 1em;
  margin: 0 0 1em 1em;
  color: rgb(255,255,255);
  cursor: pointer;
}
.terminoscondiciones {
  position: absolute;
  top: 0;
  left: 80px;
}
.container_big {
  background-image: url("../img/dot-pattern.gif");
  background-repeat: repeat;
  height:4000px;
  position:relative;
}

.menu-expanded {
  height: 80vh;
}

.menu-expanded .page-nav li{
  justify-content: center;
}

/*
==============================================
tossing
==============================================
*/

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}

/************************
  MAIN CONTENTS
  ************************/

  .page-contents{
    padding:0 1em;
    max-width: 650px;
    margin:auto;
  }

/************************
  MEDIA QUERIES HEADER
  ************************/
  @media only screen and (min-width:450px){
    .page-header span{
      display: block;
    }

    .page-nav {
      clear:left;
      position: fixed;
      visibility: inherit;
      transition:visibility .4s linear;
      top: 0;
    }
    .page-nav a {
      padding: 1.2em 15px;
      font-size: 1em;
    }
  }

  @media only screen and (min-width:992px){
    .page-header{
      height: 5em;
    }

    .logo{
      max-width: 92px;
    }
    .page-nav{
      /*width: auto;*/
      float: right;
      display: block;
      clear: none;
      visibility: visible;
      width:90%;
      max-width:1000px;
      margin:0 20px;
      background-color:transparent;
      right: 0;
    }
    .page-header span{
      display: none;
    }

    .page-nav li{
      float: left;

    }
    .page-nav ul{
      float: right;
    }
    .page-nav a {
      border-top: none;

    }
    .redes{
     display: none;
   }
   .minigame{
    padding: 60px 0;
  }
  .fail{
    width: 100%;
  }
  .footer_calcula{
    /*position: fixed;
    width: 50vw;*/
  }
  .collapse {
    visibility: inherit;
  }
  .redes{
   display: none;
 }

}


/************************
  / MEDIA QUERIES HEADER
  ************************/

  .close{
   opacity: 1;
 }
 .modal-header{
   border-bottom: none;
 }
 #myModal .modal-dialog{
   /*width: 388px;*/
   height: 404px;
 }
 #myModal .modal-content{
   background-color: transparent;
   background-image: url('../img/back_modal.png');
   background-repeat: no-repeat;
   width: 388px;
   height: 404px;
   box-shadow: none;
   border: none;
   margin:auto;
 }

 #ModalTicket .modal-dialog{
   width: auto;
   height: 391px;
 }

 #ModalTicket .modal-content{
   background-color: transparent;
   background-image: url('../img/back_textos.png');
   background-repeat: no-repeat;
   width: 754px;
   height: 534px;
   box-shadow: none;
   border: none;
   margin: auto;
 }
 #ModalTicket .modal-body{
   padding: 0 15px;
 }

 .backPasto{
   background-image: url('../img/arbusto.png');
   background-position: bottom 10px right 0px;
   background-repeat: no-repeat;
   height: 450px;
   position: relative;

 }

 .vista360{
   width: 573px;
   height: 359px;
   /*margin-left: 20px;*/
   margin: auto;
 }

 .formCatsup{
   background-color: #ffffff;
   width: 642px;
   height: 120px;
   margin-left: 180px;
   -webkit-box-shadow: 10px 10px 15px 0px rgba(204,204,204,0.5);
   -moz-box-shadow: 10px 10px 15px 0px rgba(204,204,204,0.5);
   box-shadow: 10px 10px 15px 0px rgba(204,204,204,0.5);
   text-transform: none;
 }

 .usaludo{
   color: #DC1E35;
    font-size: 24px;
  font-family: 'Cocogoose'
 }
 .upregunta{
   font-size: 15px;
   font-weight: 900;
   color:#000;
 }

 input[type="text"],input[type="file"] {
   border: 3.2px solid #000000;
   padding: 7px;
   font-size: 18px;
   color: red;
   width: 164px;
   background-color: #fff;
   font-weight: 900;
   height:40px;
 }
 .signo-pregunta {
  background: #f5a706;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 2px solid black
 }
 select {
  border: 3.2px solid #000000;
  padding: 10px;
  font-size: 14px;
  color: #a0a0a0;
  width: 164px;
  background-color: #fff;
  font-weight: 900;
  height:44px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
input#acepto.check_ticket {
  width:15px;
  height:15px;
  background-color:#f5a706 !important;
  border: 2px solid #000;
}
 .botle-ticket {
   position:absolute;
   top:15%;
   left:22%;
   width:15%;
 }
 button{
   border: none;
   background-color: transparent;
 }
 .btns_ticket {
   width: 200px !important;
   text-align: center;
   margin-top:15%;
 }
 .btns_ticket_normal {
  width: 400px !important;
  text-align: center;
 }
 .question-how {
   position: relative;
 }
 .btnEnviar{
   background-image: url('../img/btn_participa_360.png');
   background-repeat: no-repeat;
   width: 111px;
   height: 47px;
 }
 .btnEnviar:hover{
   background-image: url('../img/btn_participa_360_over.png');
 }

 #enviar_ticket{
   background-image: url('../img/bt-enviar.png');
   background-repeat: no-repeat;
   width: 350px;
   height: 43px;
 }

 #enviar_ticket:hover{
   background-image: url('../img/bt-enviar-over.png');
 }

 .botellita{
   position: relative;
   bottom: 75px;
   left: 0px;
 }
 .divEnviar{
   padding-top: 13px;
   text-align: right;
   padding-right: 0;
   margin-left: 12px;
 }
 .form_ticket{
   color: #ffffff;
   text-align: left;
   font-size: 15px;
   text-align:center;
 }

 .img_ticket_snoopy{
   position: absolute;
   top: 300px;
 }
 .img_ticket_botella{
   position: absolute;
   top: 100px;
   right: 25px;
   display: block;
 }
 .form-group {
  margin-bottom: 10px;
}
.form_ticket input{
 font-style: normal;
}
#archivo1{
 background-image: url('../img/campo-subirticket.png');
 background-repeat: no-repeat;
 background-position: 100%;
 width:400px;
}

/*FILE*/
.inputModificado {
  clear: both;
  width: 400px;
  margin-right: auto;
  margin-left:auto;
  text-align:left;
}

.inputImagen {
 background: #ffffff;
 padding: 11px;
 color: #a0a0a0;
 font-size: 15px;
 margin-top:  -2px;
 width: 100%;
 border:0;
}
.contenedor-formulario {
  margin-top:5%;
}
.totalBotellas {
  font-family: 'Monserrat-bold';
  font-size:25px;
}
.botonInputFileModificado {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 0 0px 8px 2px black;
  width: 100px;
  margin-left: 180px;
}

.botonInputFileModificado .inputImagenOculto {
  opacity: 0;
  position: absolute;
  margin-left: -125px;
  width: 650px;
}

.botonInputFileModificado .boton {
  text-align: center;
}

/*END FILE*/

.backPasto{
 display: block;
}

.nozoom{
 transition: width 2s, height 2s, transform 2s;
 -moz-transition: width 2s, height 2s, -moz-transform 2s;
 -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
 -o-transition: width 2s, height 2s,-o-transform 2s;
}

.zoom{
  transition: width 2s, height 2s, transform 2s;
  transform : scale(1.2);
  -moz-transform : scale(1.2);      /* Firefox */
  -webkit-transform : scale(1.2);   /* Chrome - Safari */
  -o-transform : scale(1.2);        /* Opera */
}

.zoomsMov{
  background-color: #ffffff;
  height: 43px;
  width: 135px;
  padding: 4px;
  border: 2px solid #000000;
  border-radius: 38px;
  position: absolute;
  left: 35%;
}

.zooms{
  height: 47px;
  width: 94px;
  border-radius: 38px;
  position: absolute;
  right: 20%;
  top: 0;
  z-index: 1;
}

.zooms button {
  padding: 6px 2px 6px 7px;
}
.imggiro {
  position: absolute;
  top: 15%;
  left: -360%;
}
#ModalMecanica .modal-dialog, #ModalPremios .modal-dialog, #ModalBases .modal-dialog{
 width: auto;
 margin: 0 auto;
}

#ModalMecanica .modal-content, #ModalPremios .modal-content, #ModalBases .modal-content{
 background-color: transparent;
 background-image: url('../img/back_textos.png');
 background-repeat: no-repeat;
 width: 754px;
 height: 534px;
 box-shadow: none;
 border: none;
 color:#ffffff;
 margin: auto;
}
.imgPremios img{
 width: 100%;
 max-width: 310px;
}

input[type=checkbox] {
  visibility: hidden;
}
/* SQUARED TWO */
.squaredTwo {
	width: 28px;
	height: 28px;
  background: #f5a706;
  border:2px solid #000;
	margin: 20px 0 0 40px;
	position: relative;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
  top: 4px;
  background: #f5a706;
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #000;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


.titleTexto{
 font-size: 48px;
 text-decoration: underline;
 margin-top: -30px;
 padding-bottom: 30px;
}
.textoMecanica{
 font-size: 18px;
 text-align: left;
 padding: 0 35px;
 line-height: 32px;
}
.textoPremios{
 font-size: 16px;
 text-align: left;
 padding: 0 0 0 39px;
}
.imgPremios{
 padding-top: 17px;
}
.textoBases{
 font-size: 12px;
 text-align: justify;
 max-height: 333px;
 overflow: scroll;
 width: 90%;
 padding: 0 15px;
 margin: auto;
}

.footer_calcula{
 font-family: 'Cocogoose';
 background-color: #fff;
 opacity: 1;
 position:relative;
}
.imagen360{
 /*padding:20px 48px;*/
 z-index: 111;
}
.centrar-elemento {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.vista360Mov{
 display: none;
}
#image-reel{
 height: 320px;
 width: 480px;
 z-index: 0;
}
#image-reel > img{
 border: 2px solid #000;
}
.picPerfil{
 text-align: center;
 padding-bottom: 30px;
 font-family: 'Cocogoose';
 color: #000;
 font-size: 20px;
}

#menu-mobile {
  display:none;
}
.graciasPerfil{
 width: 150px;
 border-radius: 150px;
 margin-top: 1em;
}
.textoGracias{
 padding: 0 15px;
 margin: 1em 2em 0;
}
.gracias-describe {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-size: 13px;
  margin-top: 5%;
}
.fb-share-button {
  margin-top:2%;
}
a.fb-xfbml-parse-ignore.participacion {
  color:#000;
  font-size:15px;
}
iframe{
  border: medium none;
  height: 260px;
  width: 450px;
}
.camioncito-class {
  margin-left: 50%;
  -webkit-animation: mueveCamion 3s ease-in;
  animation: mueveCamion 3s ease-in;
  position: absolute;
  z-index: 1;
}

@keyframes mueveCamion {
  0%{
    margin-left: 80%;
    opacity:0;
  }
  100% {
    opacity:1;
    margin-left: 50%;
  }
}

#img-premios {
  -webkit-animation: fadePremio 4s ease-in-out;
  animation: fadePremio 4s ease-in-out;
}

#premios-dos {
  -webkit-animation: fadePremioS 4s ease-in-out;
  animation: fadePremioS 4s ease-in-out;
}

@keyframes fadePremio {
  0%,100% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
  }
  50% {
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
}

@keyframes fadePremioS {
  0%,100% {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
  }
  50% {
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
}
.pleca-snoopy {
  background-image: url('../img/greca.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 226px;
  display: block;
  margin: 6% 0;
  position:relative;
}
.pleca-snoopy :nth-child(1) {
  position: absolute;
  z-index: 0;
  top:0;
  left:60%;
  width:8%;
  height:auto;
  -webkit-animation: MoveLeftRight 2s ease-in-out infinite;
  animation: MoveLeftRight 2s ease-in-out infinite;

}
.pleca-snoopy :nth-child(2) {
  position: absolute;
  z-index: 0;
  top:0;
  right:15%;
  width:8%;
  height:auto;
  -webkit-animation: MoveUpDown 2s ease-in-out infinite;
  animation: MoveUpDown 2s ease-in-out infinite;
}
@keyframes MoveUpDown {
  0%,100% {
    top: 0;
  }
  50% {
    top: -20px;
  }
}
@keyframes MoveLeftRight {
  0%,100% {
    left: 60%;
  }
  50% {
    left: 62%;
  }
}
.container-screen {
  max-width: 1024px;
  min-height: 400px;
  width: 100%;
  margin: 0 auto 0;
}
.subMov{
 cursor: pointer;
 height:50px;
 position: relative;
}
.subMov img {
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
}
.subMov:hover {
  background:#f2ca00;
}
.texto_minigame{
 font-family: 'Muli' sans-serif;
 font-size: 27px;
 padding: 0 0;
 font-weight: 900;
}
.minigame{
 padding: 60px 0;
}
.minigame iframe{
  max-width: 350px;
  padding: 0;
}


@media screen and (max-width: 991px) {
.container_calcula{
  margin: 5em auto 130px;
}
.container {
  margin: 5em auto;
}
footer, .footer, .footer_calcula{
  opacity: 1;
  position: fixed;
}
.footer_calcula{
  max-width:100%;
}
.footer, .footer_calcula{
  box-shadow: 17px 1px 5px #ccc;
  margin-bottom: 0px;
}
.fail{
  width: 80vw;
}
.txtRed iframe{
  width: 640px;
  height: 360px;
}
.backPasto{
 display: none;
}
.sinpd{
  padding: 0;
}
.catsup{
  /*position: relative;*/
  height: 170px;
}
.formCatsup{
  width: 100%;
  height: 90px;
  position: absolute;
  top: 60px;
  margin-left: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;

}
.subMov{
  background-color: #ffffff;
  padding:5px 0 10px 0;
}
.nubes{
  background-position: bottom -56px right 0;
}
.divEnviar{
  padding-top: 0;
  text-align: left;
  padding-right: 0;
  margin-left: 12px;
}
.btnEnviar{
  margin-top: -4px;
}
.usaludo{
  margin-top: -20px;
}
.vista360Mov{
  background-image: url('../img/back_vista_movil.jpg');
  background-repeat: repeat;
  width: 100%;
  min-height: 914px;
  margin-top: 54px;
  display: block;
}

.nubes{
  background-image: none;
  height: 0;
}
.modal-dialog {
 margin: 10px;
 position: relative;
 width: auto;
}
#myModal .modal-content, #ModalMecanica .modal-content, #ModalPremios .modal-content, #ModalBases .modal-content, #ModalTicket .modal-content {
 background-color: transparent;
 background-image: url("../img/back_modal_movil.jpg");
 background-repeat: repeat;
 border: medium none;
 box-shadow: none;
 color: #ffffff;
 height: 100vh;
 width: 100%;
}
.modal-body{
  top: 10%;
}
.wod{
  right: 24%;
}
.footer_calcula{
  opacity: 1;
}
#image-reel{
  height: auto;
  width: 100%;
}
.reel{
  width: 90%;
  height: auto;
  margin: 10px auto;
}
.vista360Mov > #image-reel >img{
  border: 2px solid #000;
  border-radius: 6px;
}
.img_ticket_botella{
  display: none;
}
.img_ticket_snoopy {
  top: 350px;
}
.minigame{
  padding: 80px 0;
}
.mini{
  margin: 30px 0;
}
.submenu_games{
  padding-top: 5px;
}

.textoBases{
  max-height: 50vh;
}
.legales{
  position: initial;
}
#menu-desktop {
  display: none;
}
#menu-mobile {
  display:block;
  width: 100%;
  position: fixed;
  top:5%;
  left:0;
  height: 80px;
  z-index:10;
}
.video-container {
  margin-top: 15%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.titleCostena {
  text-align: center;
}
.submenu_nav {
  width:20%;
  height: 80px;
  background: #f5a706;
  border-right: 1px solid #f2ca00;
  margin-top: 2.2%;
}
.marginToSubmenu {
  margin-top: 15%;
  height: auto;
  padding: 0 10%;
}
.botellas-detail {
  display: none;
}
.subMov img {
  width: 30%;
}
.participaBtn {
  margin-top:5%;
}
#imgUnoHome {
    margin-top: 20%;
}
#textosInicio {
  padding-left:10%;
}
#banderaUno {
  margin-left:5%;
}
.mecanica-img {
  width: 30%;
  margin-left:25%;
}
.especial-width {
  width: 100%;
}
.container_big {
  height: 5200px;
  position: relative;
  width: 100%;
  padding: 10%;
}
#imagen-participa {
  margin-left: -40%;
  margin-top: 50%;
}
/*.container_medio {
  min-height: 910px;
 }*/
 .container_mini {
  min-height: 950px;
 }
 #form-dos {
   margin-left:0;
 }
 .camioncito-class {
  -webkit-animation: none;
  animation: none;
  bottom: 10%;
  right: 0;
 }
 #charliepapalote {
   display:none;
 }
}



@media screen and (max-width: 768px) {
 .container{
  width: 100%;
}
.container,footer{
  max-width: 745px;
}
.snoopy_loader{
  padding-top: 35%;
}
.submenu_nav{
  /*width: 55px;*/
}
   /*.upregunta {
    font-size: 14px;
    }*/
    .wod{
      right: 20%;
    }
    .legales{
      position: initial;
    }
  }



  @media screen and (min-width: 560px) and (max-width: 760px) {
   .txtRed iframe{
    width: 460px;
    height: 259px;
  }
  .txtBig{
    font-size: 32px;
  }
  .wod{
    right: 20%;
  }
   /*.usaludo{
      margin-top: -62px;
      width: 220px;
      font-size: 24px;
      }*/
   /*.upregunta{
      font-size: 12px;
      width: 220px;
      }*/
   /*.divEnviar {
      padding-top: 15px;
      text-align: right;
      padding-right: 0;
      margin-left: 44px;
      }*/
      .vista360Mov{
        min-height: 600px;
      }
    }

    @media screen and (min-width: 461px) and (max-width: 559px) {
     .txtRed iframe{
      width: 380px;
      height: 214px;
    }
    .col-xs-12{
      padding-right: 1px;
      padding-left: 1px;
    }
    .txtBig{
      font-size: 32px;
    }
    .casaSnoopy{
      margin-top: 30px;
    }
    .wod{
      right: 14%;
    }
   /*.usaludo{
      margin-top: -62px;
      width: 220px;
      font-size: 24px;
   }
   .upregunta{
      font-size: 12px;
      width: 220px;
      }*/
   /*.divEnviar {
      padding-top: 15px;
      text-align: right;
      padding-right: 0;
      margin-left: 44px;
      }*/
      .usaludo{
        margin-top: -35px;
      }

      .vista360Mov{
        min-height: 600px;
      }
      .subMov a img,
      .subMov img{
        width: 60%;
      }
    }




    @media screen and (min-width: 321px) and (max-width: 460px) {
     .container{
      width: 100%;
    }
    .container, footer{
      max-width: 460px;
    }
    .snoopy_loader{
      padding-top: 40%;
    }

    .textRed{
      padding:1px ;
    }
    .txtRed iframe{
      width: 320px;
      height: 180px;
    }
    .txtBig{
      font-size: 27px;
    }
    .casaSnoopy{
      margin-top: 30px;
    }
    .wod{
      right: 20%;
    }
   /*.usaludo{
      margin-top: -62px;
      width: 220px;
      font-size: 24px;
   }
   .upregunta{
      font-size: 12px;
      width: 220px;
      }*/
      .vista360Mov{
        min-height: 600px;
      }
      .subMov a img,
      .subMov img{
        width: 60%;
      }
      .menu-expanded{
        line-height: 3em;
        font-size: 1em;
      }
    }




    @media screen and (min-width: 320px) and (max-width: 519px) {
     .snoopyPasto > img{
      width: 70px;
      height: auto;
    }
    .sinpd{
      padding: 0;
    }

    .casaSnoopy{
      margin-top: 30px;
    }
    .casaSnoopy img{
      width: 100%;
    }
    .usaludo {
      margin-top: -50px;
      width: 250px;
      margin-left: 20px;
      font-size: 16px;
    }
    .upregunta {
      width: 250px;
      font-size: 15px;
    }
    .divEnviar {
      padding-top: 15px;
      text-align: right;
      padding-right: 0;
      margin-left: 90px;
    }
    .wod{
      right: 6%;
    }
    .vista360Mov{
      min-height: 560px;
    }
    .img_ticket_snoopy{
      display: none;
    }
    .fail{
      font-size: 1.3em;
      font-weight: 300;
    }
  }



  @media screen and (max-width: 320px) {
   .container{
    min-height: 460px;
    width: 100%;
  }
  .container{
    width: 300px;
    padding: 0 10px;
  }
  .footer_calcula{
    box-shadow: none;
    width: 100%;
  }
  .snoopy_loader{
    padding-top: 40%;
  }
  .txtBig{
    font-size: 20px;
  }
  .txtRed iframe{
    width: 280px;
    height: 158px;
  }
  .casaSnoopy{
    margin-top: 30px;
  }
  .casaSnoopy img{
    width: 100%;
  }
  .sinpd{
    padding: 0;
  }
  .snoopyPasto{
    visibility: hidden;
    position: absolute;
   /* padding-top: 60px;
    bottom: 25px;
    right: 15px;
    top: 50px;*/
  }

  .snoopyPasto > img{
    width: 70px;
    height: auto;
  }
  .miniText {
   width: 280px;
 }
 .botellita{
  left:-20px;
}
.usaludo{
  margin-top: -46px;
  width: 240px;
  font-size: 12px;
}
.upregunta{
  font-size: 12px;
  width: 220px;
}

.divEnviar {
  padding-top: 15px;
  text-align: right;
  padding-right: 0;
  margin-left: 75px;
}
.btnEnviar{
  background-size: 90%;
  margin-top: -2px;
}
.wod{
  right: -8px;
  width: 108px;
  top: 14px;
}
.vista360Mov{
  min-height: 360px;
}
.img_ticket_snoopy{
  display: none;
}
.subMov a img,
.subMov img{
  width: 90%;
}
.menu-expanded{
  line-height: 3em;
  font-size: 1em;
}
}
@media screen and (max-height: 480px){
  iframe{
    margin-top: 0;
  }
  #myModal .modal-content, #ModalMecanica .modal-content, #ModalPremios .modal-content, #ModalBases .modal-content, #ModalTicket .modal-content {
    height: 100%;
  }
}
@media screen and (min-width: 920px)and (max-height: 800px){
  .footer_calcula{
    /*position: fixed;
    width: 100%;
    color: red;
    bottom: 10vh;*/
  }
}



/*************ANIMACIONES*****************/


.w3-animate-right{animation:animateright 0.4s; animation-delay: 0s; opacity: 0; animation-fill-mode: forwards;}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s;animation-delay: 0s; opacity: 0; animation-fill-mode: forwards;}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-left-charlie{position:relative;animation:animateleft 5s;animation-delay: 0s; opacity: 0; animation-fill-mode: forwards;}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-left{position:relative;animation:animateleftE 0.4s;animation-delay: 0; opacity: 0; animation-fill-mode: forwards;}@keyframes animateleftE{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{animation:animaterightE 0.4s; animation-delay: 0.5s; opacity: 0; animation-fill-mode: forwards;}@keyframes animaterightE{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-left-two{position:relative;animation:animateleftTwo 0.4s;animation-delay: 0.8s; opacity: 0; animation-fill-mode: forwards;}@keyframes animateleftTwo{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-left-three{position:relative;animation:animateleftTwo 0.4s;animation-delay: 1s; opacity: 0; animation-fill-mode: forwards;}@keyframes animateleftTwo{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right-bottle{animation:rightBotle 2s ease-in-out  infinite;animation-delay: 1s; opacity: 0; animation-fill-mode: forwards;}@keyframes rightBotle{from{opacity:0} to{opacity:1}}
.animate-upbottle{position:relative;animation:upbotle 2s ease-in-out infinite; animation-delay: 1s; animation-fill-mode: forwards;}
  @keyframes upbotle {
    0%,100% {
      margin-top:0px;
    }
    50% {
      margin-top:10%;
    }
  }
  .animate-upbottle-dos{position:relative;animation:upbotledos 5s ease-in-out infinite; animation-delay: 2s; animation-fill-mode: forwards;}
  @keyframes upbotledos {
    0%,100% {
      margin-top:0px;
    }
    50% {
      margin-top:10%;
    }
  }
  .animate-upbottle-tres{position:relative;animation:upbotletres 5s ease-in-out infinite;  animation-delay: 2s; animation-fill-mode: forwards;}
  @keyframes upbotletres {
    0%,100% {
      margin-top:0px;
    }
    50% {
      margin-top:10%;
    }
  }
  .animate-upbottle-cuatro{position:relative;animation:upbotlecuatro 5s ease-in-out infinite; animation-delay: 2s; animation-fill-mode: forwards;}
  @keyframes upbotlecuatro {
    0%,100% {
      margin-top:0px;
    }
    50% {
      margin-top:10%;
    }
  }


/*RESPONSIVE*/

@media only screen and (max-width:699px){
  .collapse {
    visibility: hidden;
  }
  .pasto_minigame img{
    padding-left: 30vw;
  }
  .menu-expanded {
    height: 100vh;
  }
  .botellas-detail {
    display:none;
  }
  .container-screen {
    text-align: center;
  }
  .titleCostena {
    font-size:22px;
  }
  .minisubtitleCostena {
    font-size: 20px;
  }
  iframe {
    border: medium none;
    height: 180px;
    width: 300px;
    margin-top: 22%;
  }
  .participaBtn, .participaBtnb {
    margin-top:12%;
    background-image: url(../img/btmobile-participa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height:84px;
    width:300px;
  }
  .participaBtn:hover {
    background-image: url(../img/btmobile-participa-over.png);
  }
  .participaBtnb:hover {
    background-image: url(../img/btmobile-participa-over.png);
  }
  .pleca-snoopy {
    background-image: url('../img/greca-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin: 12% 0;
  }
  .pleca-snoopy :nth-child(1) {
    top:-20%;
    left:22%;
    width:18%;
  }
  .pleca-snoopy :nth-child(2) {
    width:18%;
    right:2%;
  }
  .botellas-detail-mobile{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    position: absolute;
    top: 53%;
    left: 0;
    z-index: 0;
  }
  .botellas-detail-mobile img {
    width:20%;
  }
  .botellas-detail-mobile-dos{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 0;
  }
  .botellas-detail-mobile-dos img {
    width:20%;
  }
  .botellas-detail-mobile-cuatro{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    position: absolute;
    bottom: -55%;
    left: 0;
    z-index: 0;
  }
  .botellas-detail-mobile-cuatro img {
    width:20%;
  }
  .botellas-detail-mobile-tres img {
    width:20%;
  }
  .txtBig {
    font-size:20px;
  }
  .txtEspecial {
    text-align:justify;
    padding-right:5%;
  }
  .paddingLeftLarge {
    margin-left:0;
  }
  .paddingLeftShort {
    margin-left:0;
  }
  .imgsecond-container img {
    display:none;
  }
  .container {
    background-image: url("../img/dot-pattern.gif");
    background-repeat: repeat;
    height:800px;
  }
  .container_mini {
    background-image: url("../img/dot-pattern.gif");
    background-repeat: repeat;
    height:800px;
  }
  .container_medio {
    background-image: url("../img/dot-pattern.gif");
    background-repeat: repeat;
    min-height:500px;
  }
  #menu-desktop {
    display: none;
  }
  #menu-mobile {
    display:block;
    width: 100%;
    position: fixed;
    top:8%;
    left:0;
    height: 80px;
    z-index:10;
    padding-top:1%;
  }
  .submenu_nav {
    width:20%;
    height:80px;
    background:#f5a706;
    border-right:1px solid #f2ca00;
  }
  .marginToSubmenu {
    margin-top:30%;
    height:auto;
    padding:0 2% 0 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .btn_facebook_login {
    width: 70%;
  }
  .video-container {
    margin-top:0;
  }
  #imagen-participa {
    display:none;
  }
  #texto-dos-bases {
    margin-top:-20%;
  }
  #pleca-mobile {
    display:block;
  }
  .desktop-img {
    display:none;
  }
  .container-screen {
    height: 700px;
  }
  .participaBtnMobile {
    margin-top:24%;
    margin-left: -78%;
    width:320px;
  }
  .clear-snoopy {
    display:none;
  }
  .mobile-text {
    padding: 0 10%;
  }
  .text-center-mobile {
    text-align: center;
    padding: 0 5%;
  }
  body {
    background-image: url("../img/dot-pattern.gif");
    background-repeat: repeat;
  }
  .marginToSubmenuMobile {
    height:250px;
  }
  .container-screen-mobile {
    height: auto;
  }
  .vista360 {
    width: 350px;
    height: 250px;
    margin-top:20%;
  }
  .mobile-align {
    position: absolute;
    top: -160%;
    left:10%;
  }
  #image-reel .reel {
    margin-top:25%;
  }
  .mobile-align-two {
    position: absolute;
    top: -110%;
    left: 10%;
    font-size:18px;
  }
  .zooms {
    right: 5%;
    top: 30%;
  }
  .question-how {
    margin-top: -20%;
  }
  .botle-ticket {
    left:15%;
  }
  .siguienteBtn {
    background-image: url(../img/btmobile-siguiente.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height:84px;
    width:320px;
  }
  .siguienteBtn:hover {
    background-image: url(../img/btmobile-siguiente-over.png);
  }
  .imggiro {
    top: 15%;
    left: -220%;
    width: 40%;
  }
  #form-dos {
    margin-left:0;
    width:360px;
    margin-top: -30%;
  }
  .btns_ticket_normal {
    width: 330px !important;
  }
  #archivo1 {
    width: 330px;
    height:50px;
    background-size: 330px 50px;
  }
  select {
    height:45px;
  }
  .contenedor-formulario {
    margin-top: 12%;
  }
  .terminoscondiciones {
    font-size:14px;
    margin-left: -3%;
  }
  .text-especial-acepto {
    text-align:center;
  }
  .marginToSubmenuBases {
    margin-top: 48%;
  }
  .txtLeft {
    text-align: center;
    margin-left:0;
  }
  .minigame iframe {
    max-width: 280px;
  }
  .title-mobile {
    font-size:25px;
  }
  #enviar_ticket {
    background-image: url(../img/btmobile-enviar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height:84px;
    width:320px;
    margin-left:6%;
  }
  #enviar_ticket:hover { 
    background-image: url(../img/btmobile-enviar-over.png);
  }
  .footer-bases-img {
    display:none;
  }
  .container_big {
    height: 6000px;
    padding: 0;
  }
  #textosInicio {
    padding-left:3%;
  }
  #archivo1 {
    background-image: url(../img/input_mobile.png);
  }
  input[type="text"] {
    height:47px
  }
  .inputModificado {
    width: 300px;
  }
  .input#ticket {
    width: 300px;
  }
.container-screen {
    max-width: 330px;
}
input#ticket {
  width: 300px;
}
.txtMobileInit {
  padding: 0 5%;
}
.txtSmallEspecial {
  width: 280px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.w3-animate-left, .w3-animate-right {
  animation:none;
  opacity: 1;
}
}

@media only screen and (min-width:320px) and (max-width:568px){ 
  iframe {
    width: 290px;
  }
  .participaBtn, .participaBtnb {
    width: 240px;
  }

  .subMov img {
    width: 60%;
}
.participaBtnMobile {
  margin-left:-38%;
}
.siguienteBtn {
  width: 240px;
}
#enviar_ticket {
  width: 240px;
}
#charliepapalote {
  display: none;
}
#botella-uno, #botella-dos, #botella-tres, #botella-cuatro {
  display:none;
}
.clear-snoopy-mobile{
  width: 100%;
  height:400px;
}
.botellas-detail-mobile-tres {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  top: 133%;
  left: 0;
  z-index: 0;
}
}