
body {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 250px;
  position: absolute;
  background: #fff;

}
*{
  box-sizing: border-box;
}



@-webkit-keyframes shakehand-left-keyframes {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    filter: alpha(opacity=100)
  }
  20%, 60% {
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
  }
  40%, 80%{
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }
  100% {
      opacity: 1;
      filter: alpha(opacity=1);
  }
}

@keyframes shakehand-left-keyframes {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    filter: alpha(opacity=100)
  }
  20%, 60% {
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
  }
  40%, 80%{
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }
  100% {
      opacity: 1;
      filter: alpha(opacity=1);
  }
}

@-webkit-keyframes shakehand-center-keyframes {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    filter: alpha(opacity=100)
  }
  20%, 60% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
  }
  40%, 80%{
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
  }
  100% {
      opacity: 1;
      filter: alpha(opacity=1);
  }
}

@keyframes shakehand-center-keyframes {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    filter: alpha(opacity=100)
  }
  20%, 60% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
  }
  40%, 80%{
    transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
  }
  100% {
      opacity: 1;
      filter: alpha(opacity=1);
  }
}

@-webkit-keyframes shakehand-right-keyframes {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    filter: alpha(opacity=100)
  }
  20%, 60% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
  }
  40%, 80%{
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
  }
  100% {
      opacity: 1;
      filter: alpha(opacity=1);
  }
}

@keyframes shakehand-right-keyframes {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    filter: alpha(opacity=100)
  }
  20%, 60% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
  }
  40%, 80%{
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
  }
  100% {
      opacity: 1;
      filter: alpha(opacity=1);
  }
}


.banner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

}
.preview,
.instructions,
.success,
.game-set{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.preview .logo,
.instructions .logo,
.success .logo{
  max-height: 80px;
  position: absolute;
  top: calc(80px);
  right: calc(20px);
  z-index: 10;
}
.preview .title_1{
  max-height: 150px;
  position: absolute;
  top: calc(20px);
  left: calc(0px);
  z-index: 10;
  text-transform: uppercase;
}
.preview .play{
  max-height: 60px;
  position: absolute;
  top: calc(100vh / 2 - 30px);
  left: calc(100% / 2 - 92px);
  z-index: 10;
}
.preview .fanta-orange-container,
.preview .fanta-grape-container,
.preview .fanta-strawberry-container,
.success .fanta-orange-container,
.success .fanta-grape-container,
.success .fanta-strawberry-container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}
.preview .fanta-orange-container .orange,
.success .fanta-orange-container .orange {
  position: absolute;
  width: 140px;
  left: calc(-20px);
  bottom: calc(-10px);
  z-index: 9;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: shakehand-left-keyframes 15s linear 0s 1 normal forwards;
  animation: shakehand-left-keyframes 15s linear 0s 1 normal forwards;
}
.preview .fanta-grape-container .grape,
.success .fanta-grape-container .grape {
  position: absolute;
  width: 170px;
  right: calc(0px);
  bottom: calc(0px);
  z-index: 9;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: shakehand-center-keyframes 10s linear 0s 1 normal forwards;
  animation: shakehand-center-keyframes 10s linear 0s 1 normal forwards;
}
.preview .fanta-strawberry-container .strawberry,
.success .fanta-strawberry-container .strawberry {
  position: absolute;
  width: 80px;
  right: calc(-15px);
  bottom: calc(-15px);
  z-index: 9;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: shakehand-right-keyframes 4s linear 0s 1 normal forwards;
  animation: shakehand-right-keyframes 4s linear 0s 1 normal forwards;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
}
.instructions .logo{
  position: relative;
  margin: 60px auto 40px;
  display: block;
  top: unset;
  left: unset;
  right: unset;
}
.instructions .ins-container{
  position: absolute;
  width: 240px;
  height: 100px;
  top: 280px;
  overflow: hidden;
  left: calc(100% / 2 - 120px);
}
.instructions .ins-container .line-conector{
  position: absolute;
  width: 100%;
  height: 6px;
  background: orange;
  top: 40px;
}
.instructions .ins-container .sprite-ins{
  float: left;
  margin: 0;
  vertical-align: bottom;
  display: block;
  
}
.instructions .title_2{
  max-height: 40px;
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.instructions .title_3{
  max-height: 40px;
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.game-set .time-elapsed,
.game-set .points-elapsed{
  position: absolute;
  width: 100px;
  margin: auto;
  top: 10px;
  left: calc(100% / 2 - 50px);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.game-set .points-elapsed{
  top: unset;
  bottom: 10px;
}
.game-set .time-elapsed .seconds{
}
.success .logo{
  position: relative;
  margin: 60px auto 40px;
  display: block;
  top: unset;
  left: unset;
  right: unset;
}
.success .title_4{
  max-height: 40px;
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.success .counter-result{
  max-height: 95px;
  position: relative;
  bottom: unset
  left: unset;
  margin: 40px 0 40px 0;
  z-index: 10;
}
.success .counter-result .points{
  color: white;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}
.success .play-again-success{
  max-height: 60px;
  position: relative;
  top: unset;
  left: unset;
  z-index: 10;
  margin: auto;
  display: block;
}
canvas{
  width: 280px;
  height: 230px;
}
